<span style="float: right;">posts/new.html.erb</span>

<h1>Create Post:</h1>

<%= render 'form', current_post: @post,
                   all_subs: @subs,
                   subs_of_post: @subs_of_post %>
