/* PHASE 6: Sidebar */
.profile-picture {
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: -119px;
  position: relative;
  z-index: 3;
}

.profile-info {
  margin-top: -2px;
}

.profile-info h3 {
  line-height: 1;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.profile-info p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  padding-bottom: 20px;
  position: relative;
  top: -2px;
  margin-bottom: -2px;
}

.profile-nav ul {
  padding-bottom: 20px;
}

.profile-nav ul li:first-child {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.profile-nav ul li {
  border-bottom: 1px solid #ccc;
  font-weight: 700;
  font-size: 16px;
  padding: 5px;
}

.profile-nav ul li a {
  text-decoration: none;
  color: #000;
}

.profile-nav ul li:hover {
  background-color: #eee;
}
