<br>
<h3>New Feed</h3>
<form>
  <label for="feed-title">Title</label>
  <input type="text" name="feed[title]">
  <br>
  <label for="feed-url">URL</label>
  <input type="text" name="feed[url]">
  <br>
  <input type="Submit">
</form>
